In [1]:
import pandas as pd
import numpy as np

### FUNCTION INVENTORY ###

In [2]:
def verticalMask(df, drop_cols = ['Program', 'Level', 'Number']):
    '''Asssuming the dataframe only contains 1 geography,
    iterrate through each column to perform vertical masking
    :param df: Dataframe
    :param drop_cols: list of columns to NOT be masked/ignored
    '''
    d = df.copy()
    #Iteratate through every report column
    cols = list(set(d.columns.tolist()) - set(drop_cols))
    
    for c in cols:
        print("...Processing column",c)
        #Only mask if a single number in that column is -999
#         print(np.sum(d.loc[d[c] < 0, c]))
        if sum(d.loc[d[c] < 0, c]) == -999: 
            next_min_a = np.min(d.loc[d[c] >= 0 , c])
            next_min_b = np.min(d.loc[d[c] > 0 , c])
            #Only allow 0 if is true next smallest
            print("min_a",next_min_a,"min_b",next_min_b)
            next_min = max(next_min_a, next_min_b )
#             next_min_idx = np.where(d[c].values  ==next_min)[0][0] 
            col_values = d[c]
#             print("col_values",col_values)
            next_min_idx = col_values[col_values == next_min].index.tolist()[0]
            print("The next smallest value for column {} is at index {} of value {}".format(c,next_min_idx,next_min))
            #Secondary mask 
            d.loc[next_min_idx, c] = -100
    return d

In [3]:
def secondMask(row):
    '''
    Pass a vector in, mask if only one -999 value
    :param row: a numpy vector
    '''
    if len(row[row ==  -999]) == 1:
#         print("Row before:\n", row)
        next_min_a = np.min(row[row >= 0])
        next_min_b = np.min(row[row > 0])
        #Only allow 0 if it is true next smallest
        next_min  = max(next_min_a, next_min_b) 
        
        next_min_idx = np.where(row==next_min)[0][0]
#         next_min_idx = row[row==next_min].index.tolist()[0]
        print("Next smallest at index {} of value {}".format(next_min_idx, next_min))
        #Mask
        row[next_min_idx] = -100
#         print("Row after:\n", row)
    return row

In [4]:
def horizontalMask(df, grp:dict):
    '''
    Leveraging the secondMask function, change the 
    group of related column names, then perform masking 
    within the parameters for each row in group. 
    :param df: Pandas dataframe
    :grp: dictionary of gorup names
    '''
    d = df.copy()
    for k,v in grp.items():
        d.loc[:,v] = d.loc[:,v].apply(secondMask, axis=1)
    return d

In [5]:
def splitReport(df:pd.DataFrame, geo=["State Assembly Total","State Senate Total"
                                      ,"U.S. Congress Total"
                                     ,"County Total"]):
    '''
    Accept a DF that is the original Excel report,
    split into N sub-reports based on geographies as 
    lited by the geo parameters
    '''
    #We can identify each section of the report here...
    indices = np.zeros(len(geo),dtype='int')
    split_dfs = []
    for idx in range(len(geo)):
        print("GEOGRAPHY level:", geo[idx])
        indices[idx] = df.index[df.Number == geo[idx]].tolist()[0]
        if idx == 0:
            split_dfs.append(df.iloc[:indices[idx]+1])
        else:
            split_dfs.append(df.iloc[indices[idx-1]+1:indices[idx]+1])
    return split_dfs

In [6]:
def batchMask(df, grp):
    masked_df = splitReport(df)
    final_df = pd.DataFrame()
    for i in range(len(masked_df)):
        #Drop index
        #Horizontal masking
        masked_df[i] = horizontalMask(masked_df[i], grp )
        #Vertical masking
        masked_df[i] = verticalMask(masked_df[i])   
        #Concatenate
        final_df = pd.concat([final_df, masked_df[i]], ignore_index=True)
        
#     #Finally, change al -999 and -100 into *1 and *2, repsetively;
    final_df = final_df.replace(-999,"*1")
    final_df = final_df.replace(-100,"*2")

#     if ! assert df.shape == final_df.shape: 
#         print("Final dataframe does NOT preserve original shape!!")
    final_df = final_df.reset_index(drop=True)
    return final_df

In [13]:
def createGroupdict(prog):
    group_dict = dict()
    
    #Populate dictionary
    group_dict["race"] =  ['Asian_PI','Black', 'Hispanic', 'Native American/Other/Unknown',"White"]
    group_dict["prog"] = ['1 program', '2 programs', '3 programs','4 programs', '5+ programs']
    group_dict["agy"] = ['1 department', '2 departments','3 departments', '4 departments']
    #Variable fields...
    group_dict["age1"] = ['17 and Under', '18 and Over']
    group_dict["age2"] = ['18-64','65 and Over']
    group_dict["gender"] = ['Female','Male', 'Unknown/Other Gender']
    #Special modification
    if prog.upper() == 'WIC': 
        group_dict["gender"] = ['Female','Male']
        group_dict["age1"]  = ['less than 19', '20 to 24', '25 to 29', '30 to 34','35 and over']
        group_dict["age2"]  = ['age 0', 'age 1', 'age 2', 'age 3', 'age 4','5 to 19','20 and over']
    elif prog.upper() == "CWS_CMS" :
#         group_dict["age1"] =  ['17 and Under','18 and Over']
#         group_dict["age2"] = ['18-64', '65 and Over']
        group_dict["fcage"] = ['age 0', '1 to 2', '3 to 5','6 to 10', '11 to 15', '16 to 17', '18 to 20']
    elif prog.upper() == "FC" :
#         group_dict["age1"] =  ['17 and Under','18 and Over']
        group_dict['age2'] = ["18-64"]
        group_dict["fcage"] = ['age 0', '1 to 2', '3 to 5','6 to 10', '11 to 15', '16 to 17', '18 to 20']
    elif prog.upper() =='FPACT':
        group_dict["gender"] = ['Female','Male']
    elif prog.upper() in ["CALFRESH","CALWORKS","IHSS"]:
        group_dict["age1"]  = ['17 and Under','18-59', ' 60 and Over']
        group_dict["age2"]  = ['18-64', '65 and Over']
        group_dict["gender"] = ['Female','Male']

    return group_dict

## PRODUCTION TEST

In [14]:
prog = "CalFresh"
d = pd.read_excel(prog+"_Dashboard_16.xlsx")
d.columns

Index(['Program', 'Level', 'Number', 'Person', 'Cases', 'Medi-Cal', 'FPACT',
       'CalWorks', 'IHSS', 'Child Welfare', 'Foster Care', 'DDS', 'WIC',
       'White', 'Hispanic', 'Black', 'Asian_PI',
       'Native American/Other/Unknown', 'Female', 'Male', '17 and Under',
       '18-59', ' 60 and Over', '18-64', '65 and Over', '1 program',
       '2 programs', '3 programs', '4 programs', '5+ programs', '1 department',
       '2 departments', '3 departments', '4 departments'],
      dtype='object')

In [15]:
group_dict = createGroupdict(prog)

In [16]:
r = batchMask(d, group_dict)

GEOGRAPHY level: State Assembly Total
GEOGRAPHY level: State Senate Total
GEOGRAPHY level: U.S. Congress Total
GEOGRAPHY level: County Total
...Processing column Foster Care
...Processing column Child Welfare
...Processing column 5+ programs
...Processing column 2 departments
...Processing column Cases
...Processing column Medi-Cal
...Processing column 17 and Under
...Processing column 18-59
...Processing column 1 department
...Processing column Asian_PI
...Processing column 18-64
...Processing column Native American/Other/Unknown
...Processing column 4 programs
...Processing column 4 departments
...Processing column Black
...Processing column Male
...Processing column 1 program
...Processing column WIC
...Processing column 2 programs
...Processing column IHSS
...Processing column Female
...Processing column Hispanic
...Processing column FPACT
...Processing column 3 programs
...Processing column DDS
...Processing column White
...Processing column 65 and Over
...Processing column 3 departments
...Processing column CalWorks
...Processing column  60 and Over
...Processing column Person
...Processing column Foster Care
...Processing column Child Welfare
...Processing column 5+ programs
...Processing column 2 departments
...Processing column Cases
...Processing column Medi-Cal
...Processing column 17 and Under
...Processing column 18-59
...Processing column 1 department
...Processing column Asian_PI
...Processing column 18-64
...Processing column Native American/Other/Unknown
...Processing column 4 programs
...Processing column 4 departments
...Processing column Black
...Processing column Male
...Processing column 1 program
...Processing column WIC
...Processing column 2 programs
...Processing column IHSS
...Processing column Female
...Processing column Hispanic
...Processing column FPACT
...Processing column 3 programs
...Processing column DDS
...Processing column White
...Processing column 65 and Over
...Processing column 3 departments
...Processing column CalWorks
...Processing column  60 and Over
...Processing column Person
...Processing column Foster Care
...Processing column Child Welfare
...Processing column 5+ programs
...Processing column 2 departments
...Processing column Cases
...Processing column Medi-Cal
...Processing column 17 and Under
...Processing column 18-59
...Processing column 1 department
...Processing column Asian_PI
...Processing column 18-64
...Processing column Native American/Other/Unknown
...Processing column 4 programs
...Processing column 4 departments
...Processing column Black
...Processing column Male
...Processing column 1 program
...Processing column WIC
...Processing column 2 programs
...Processing column IHSS
...Processing column Female
...Processing column Hispanic
...Processing column FPACT
...Processing column 3 programs
...Processing column DDS
...Processing column White
...Processing column 65 and Over
...Processing column 3 departments
...Processing column CalWorks
...Processing column  60 and Over
...Processing column Person
Next smallest at index 4 of value 58
Next smallest at index 0 of value 63
Next smallest at index 0 of value 35
Next smallest at index 0 of value 82
Next smallest at index 3 of value 28
Next smallest at index 0 of value 14
Next smallest at index 2 of value 13
Next smallest at index 0 of value 36
Next smallest at index 0 of value 83
Next smallest at index 0 of value 30
Next smallest at index 0 of value 62
Next smallest at index 0 of value 77
Next smallest at index 0 of value 94
...Processing column Foster Care
...Processing column Child Welfare
min_a 14 min_b 14
The next smallest value for column Child Welfare is at index 204 of value 14
...Processing column 5+ programs
...Processing column 2 departments
...Processing column Cases
...Processing column Medi-Cal
...Processing column 17 and Under
...Processing column 18-59
...Processing column 1 department
...Processing column Asian_PI
...Processing column 18-64
...Processing column Native American/Other/Unknown
min_a 86 min_b 86
The next smallest value for column Native American/Other/Unknown is at index 180 of value 86
...Processing column 4 programs
...Processing column 4 departments
...Processing column Black
...Processing column Male
...Processing column 1 program
...Processing column WIC
...Processing column 2 programs
...Processing column IHSS
...Processing column Female
...Processing column Hispanic
min_a 30 min_b 30
The next smallest value for column Hispanic is at index 224 of value 30
...Processing column FPACT
min_a 0 min_b 14
The next smallest value for column FPACT is at index 200 of value 14
...Processing column 3 programs
...Processing column DDS
...Processing column White
...Processing column 65 and Over
min_a 20 min_b 20
The next smallest value for column 65 and Over is at index 203 of value 20
...Processing column 3 departments
...Processing column CalWorks
min_a 70 min_b 70
The next smallest value for column CalWorks is at index 224 of value 70
...Processing column  60 and Over
...Processing column Person

In [17]:
r.head()

,Program,Level,Number,Person,Cases,Medi-Cal,FPACT,CalWorks,IHSS,Child Welfare,...,65 and Over,1 program,2 programs,3 programs,4 programs,5+ programs,1 department,2 departments,3 departments,4 departments
0,CalFresh,State Assembly,-9,127829,88727,118960,4795,30173,827,5208,...,3943,7989,77496,31667,9479,1198,8248,105881,13359,341
1,CalFresh,State Assembly,District 01,51206,26274,48942,1401,13653,710,1591,...,1948,2044,29625,14752,4250,535,2096,41629,7249,232
2,CalFresh,State Assembly,District 02,53077,29007,50236,1770,11764,991,1771,...,2326,2489,31503,14915,3678,492,2529,43065,7167,316
3,CalFresh,State Assembly,District 03,70357,32050,67954,1890,21641,795,2114,...,1861,2015,38262,22684,6628,768,2080,56464,11426,387
4,CalFresh,State Assembly,District 04,39369,20948,37428,1065,8465,770,826,...,1856,1744,23508,11243,2642,232,1777,31577,5792,223

In [18]:
r.to_excel("Masked_"+prog+"_Dashboard_16.xlsx",index=False)

In [19]:
################# VERIFYING CODE ####################

In [20]:
r.loc[(r.Level == "County") & (r.White==17), ["Asian_PI","Black","Hispanic","Native American/Other/Unknown","White"]]

Empty DataFrame
Columns: [Asian_PI, Black, Hispanic, Native American/Other/Unknown, White]
Index: []

In [31]:
d.loc[(d.Level == "County") & (d.White==17), ["Asian_PI","Black","Hispanic","Native American/Other/Unknown","White"]]

Empty DataFrame
Columns: [Asian_PI, Black, Hispanic, Native American/Other/Unknown, White]
Index: []